In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./cities.csv")
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Wind deg,Sunrise,Sunset,Visibility,Temp
0,provideniya,64.3833,-173.3000,-13.23,83.0,99.0,7.67,RU,1.612035e+09,58.0,1.612124e+09,1.612149e+09,10000.0,-13.23
1,inirida,3.8653,-67.9239,93.69,42.0,100.0,2.80,CO,1.612035e+09,24.0,1.612004e+09,1.612047e+09,10000.0,93.69
2,gannan,47.9147,123.5031,-12.14,89.0,100.0,3.40,CN,1.612035e+09,131.0,1.612049e+09,1.612083e+09,10000.0,-12.14
3,yulara,-25.2406,130.9889,84.20,37.0,40.0,12.66,AU,1.612035e+09,100.0,1.612040e+09,1.612088e+09,10000.0,84.20
4,puerto ayora,-0.7393,-90.3518,86.00,66.0,0.0,16.11,EC,1.612035e+09,130.0,1.612009e+09,1.612052e+09,10000.0,83.52

In [9]:
html = df.to_html()

In [11]:
text_file = open("cities.html", "w")
text_file.write(html)
text_file.close()